/*
===========================================
    RESPONSIVENESS
===========================================
*/

@media (max-width: 900px) {
    .navbar {
        display: none;
    }

    .navbar2 {
        display: flex;
        top: 0;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        background: #fff5f5;
        padding: 0 10px;
        /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
        position: sticky;
        z-index: 1000;
        transition: background .3s ease-in-out;
    }

    .menu {
        width: 100px;
        display: flex;
        font-size: 30px;
        color: #e63946;
        justify-content: right;
        align-items: center;
        cursor: pointer;
    }

    .navul {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 100vh;
        background: #FFF5F5;
        z-index: 1000;
    }

    .navlink2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .nav-header {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: #2D2D2D;
    }

    .nav-header:hover {
        color: #E63946
    }

    .sect1 {
        margin-top: 30px;
        height: 110vh;
        border: 10px solid #fff5f5;
        border-radius: 20px;
        transform: perspective(0px) rotateX(0deg);
    }

    .sect1wrap {
        flex-direction: column;
    }
    
    .sect1text {
        padding: 50px 20px 0 20px;
        width: 100%;
        height: 100%;
    }
    
    .sect1text h1 {
        font-size: 30px;
    }
    
    .sect1text p {
        font-size: 16px;
        text-align: justify;
    }

    .vid1 {
        width: 300px;
        height: 180px;
        top: 380px;
        right: 140px;
        position: absolute;
    }
    
    .vid2 {
        width: 280px;
        height: 220px;
        top: 530px;
        right: 80px;
        position: absolute;
    }
    
    .vid3 {
        width: 260px;
        height: 220px;
        top: 630px;
        right: 120px;
        position: absolute;
    }

/*
===========================================
    SECTION 2 RESPONSIVENESS
===========================================
*/

    .sect2 {
        margin-top: 30px;
        border: 10px solid #fff5f5;
    }
    
    .sect2wrap {
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
        background: #fff5f5;
        box-shadow: 2px 2px 2px 2px #39BDA7;
    }
    
    .sect2text {
        padding: 50px 20px 0 20px;
        width: 100%;
        height: 50%;
        position: relative;
    }
    
    .sect2text h3 {
        font-size: 14px;
        font-weight: 400;
        color: #39BDA7;
        margin-bottom: 10px;
    }
    
    .sect2text h1 {
        font-size: 30px;
        line-height: 1.2;
        font-weight: bold;
        color: #2d2d2d;
        margin-bottom: 30px;
        text-shadow: var(--text-shadow);
    }
    
    .sect2text p {
        font-size: 16px;
        font-weight: lighter;
        color: #2d2d2d;
        margin-bottom: 30px;
    }
    
    .sect2cont {
        width: 100%;
        height:50%;
        right: 0;
        background: #fff5f5;
        padding: 50px 20px 0 20px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    
    .sect2imgcont {
        width: 100%;
        height: 80%;
    }

    .sect3 {
        margin-top: 30px;
        border: 10px solid #fff5f5;
    }
    
    .sect3wrap {
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
        background: #fff5f5;
        box-shadow: 2px 2px 2px 2px #264653;
    }
    
    .sect3text {
        padding: 50px 20px 0 20px;
        width: 100%;
        height: 50%;
        position: relative;
    }
    
    .sect3text h3 {
        font-size: 14px;
        font-weight: 400;
        color: #264653;
        margin-bottom: 10px;
    }
    
    .sect3text h1 {
        font-size: 30px;
        line-height: 1.2;
        font-weight: bold;
        color: #2d2d2d;
        margin-bottom: 30px;
        text-shadow: var(--text-shadow);
    }
    
    .sect3text p {
        font-size: 16px;
        font-weight: lighter;
        color: #2d2d2d;
        margin-bottom: 30px;
    }
    
    .sect3cont {
        width: 100%;
        height: 50%;
        right: 0;
        background: #fff5f5;
        padding: 50px 20px 0 20px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    
    .sect3imgcont {
        width: 100%;
        height: 80%;
    }

    .sect4 {
        margin-top: 30px;
        border: 10px solid #fff5f5;
    }
    
    .sect4wrap {
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
        background: #fff5f5;
        box-shadow: 2px 2px 2px 2px #8D99AE;
    }
    
    .sect4text {
        padding: 50px 20px 0 20px;
        width: 100%;
        height: 50%;
        position: relative;
    }
    
    .sect4text h3 {
        font-size: 14px;
        font-weight: 400;
        color: #8D99AE;
        margin-bottom: 10px;
    }
    
    .sect4text h1 {
        font-size: 30px;
        line-height: 1.2;
        font-weight: bold;
        color: #2d2d2d;
        margin-bottom: 30px;
        text-shadow: var(--text-shadow);
    }
    
    .sect4text p {
        font-size: 16px;
        font-weight: lighter;
        color: #2d2d2d;
        margin-bottom: 30px;
    }
    
    .sect4cont {
        width: 100%;
        height: 50%;
        right: 0;
        background: #fff5f5;
        padding: 50px 20px 0 20px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    
    .sect4imgcont {
        width: 100%;
        height: 80%;
    }

    .sect5 {
        margin-top: 30px;
        border: 10px solid #fff5f5;
    }
    
    .sect5wrap {
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
        background: #fff5f5;
        box-shadow: 2px 2px 2px 2px #E9C46A;
    }
    
    .sect5text {
        padding: 50px 20px 0 20px;
        width: 100%;
        height: 50%;
        position: relative;
    }
    
    .sect5text h3 {
        font-size: 14px;
        font-weight: 400;
        color: #E9C46A;
        margin-bottom: 10px;
    }
    
    .sect5text h1 {
        font-size: 30px;
        line-height: 1.2;
        font-weight: bold;
        color: #2d2d2d;
        margin-bottom: 30px;
        text-shadow: var(--text-shadow);
    }
    
    .sect5text p {
        font-size: 16px;
        font-weight: lighter;
        color: #2d2d2d;
        margin-bottom: 30px;
    }
    
    .sect5cont {
        width: 100%;
        height: 50%;
        right: 0;
        background: #fff5f5;
        padding: 50px 20px 0 20px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    
    .sect5imgcont {
        width: 100%;
        height: 80%;
    }
    
    .sect5vid {
        width: 95%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    
    
}